@use "../partials/functions" as *;
@use "../partials/variables" as *;

.card-wrapper {
    position: relative;
    border-radius: toRem(12);
    overflow: hidden;
    &:hover {
        .card-bg img {
            transform: scale(2);
        }
        .card-image {
            img {
                transform: scale(1.05);
            }
        }
    }
    .card-content {
        padding: toRem(8);
        background-color: getColor(grey-900-98);
        border-radius: toRem(12);
        width: 100%;
    }
    .card-rating {
        position: absolute;
        z-index: 2;
        top: toRem(16);
        left: toRem(16);
        background: getColor(black-75);
        border-radius: toRem(8);
        padding: toRem(4) toRem(8);
        display: flex;
        align-items: center;
        .mh-icon svg {
            stroke: getColor(warning-500);
            height: toRem(16);
            width: toRem(16);
        }
        p {
            margin-left: toRem(4);
            color: getColor(warning-500);
        }
    }

    .card-image {
        display: inline-block;
        width: 100%;
        height: toRem(400);
        border-radius: toRem(8);
        overflow: hidden;
        img {
            width: 100%;
            height: toRem(400);
            object-fit: cover;
            transition: transform 300ms animationBeizer();
        }
    }
    .card-info {
        padding: toRem(8);
        margin-bottom: toRem(8);
        .title {
            color: getColor(grey-50);
        }
        .card-action {
            margin-top: 16px;
            &.success {
                cursor: initial;
                pointer-events: none;
            }
        }
        .hidden {
            display: none;
        }
    }
}
@media screen and (max-width: 1200px) {
    .card-wrapper {
        .card-image {
            height: toRem(360);
            img {
                height: toRem(360);
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .card-wrapper {
        .card-image {
            height: toRem(320);
            img {
                height: toRem(320);
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .card-wrapper {
        .card-image {
            height: toRem(360);
            img {
                height: toRem(360);
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .card-wrapper {
        .card-image {
            height: toRem(320);
            img {
                height: toRem(320);
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .card-wrapper {
        .card-image {
            height: toRem(400);
            img {
                height: toRem(400);
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .card-wrapper {
        .card-image {
            height: toRem(320);
            img {
                height: toRem(320);
            }
        }
        .card-info {
            margin-top: toRem(8);
            .title {
                color: getColor(grey-50);
                font-size: toRem(14);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .card-wrapper {
        .card-image {
            height: toRem(240);
            img {
                height: toRem(240);
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .card-wrapper {
        .card-image {
            height: toRem(400);
            img {
                height: toRem(400);
            }
        }
    }
}
