.dropdown-group {
    position: relative;
    margin-bottom: 24px;

    .dropdown-input {
        width: 100%;
        padding: 16px 16px 16px 48px;
        color: $text-tertary;
        font-size: 16px;
        line-height: 24px;
        background: $background-secondary;
        border: 1px solid transparent;
        border-radius: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
        cursor: pointer;
        &::placeholder {
            color: $text-tertary;
        }
        &:focus {
            border-color: $primary-blue-500;
        }
        &.active {
            & + .trialing-icon {
                transform: rotate(90deg);
            }
        }
        &.selected {
            color: $text-secondary;
        }
    }
    .icon {
        position: absolute;
        top: 16px;
        left: 16px;
    }
    .trialing-icon {
        right: 16px;
        left: auto;
        transition: transform 120ms cubic-bezier(0.75, 0.25, 0.25, 0.75);
    }
}
