@use "../partials/functions" as *;
@use "../partials/variables" as *;

footer {
    background: getColor(grey-900-80);
    backdrop-filter: blur($blur-amount);
    padding-top: 80px;
    padding-bottom: 80px;
    .top {
        text-align: center;
        max-width: 560px;
        margin: auto;
    }
}
