.logo {
    svg {
        height: 40px;
        width: 40px;
    }
    .color-primary {
        fill: getColor(primary-400);
    }
    .color-secondary {
        fill: getColor(secondary-400);
    }
}
