@use "../partials/functions" as *;
@use "../partials/variables" as *;

.number-card {
    padding: toRem(40) toRem(16);
    background-color: getColor(grey-900-80);
    border-radius: toRem(12);
    width: 100%;
    text-align: center;
    .number {
        margin-bottom: 8px;
    }
}
