@use "../partials/functions" as *;
.segmented-control {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background: getColor(black-20);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 8px;
    .active-indicator {
        position: absolute;
        top: 8px;
        bottom: 8px;
        background: getColor(primary-400);
        border-radius: 8px;
        z-index: 1;
        transition: left 120ms cubic-bezier(0.75, 0.25, 0.25, 0.75), right 120ms cubic-bezier(0.75, 0.25, 0.25, 0.75);
    }
    .segmented-group {
        position: relative;
        z-index: 2;
        text-align: center;
    }
    .segmented-label {
        color: getColor(grey-400);
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        padding: 8px 32px;
    }
    .segmented-input {
        display: none;
        &:checked ~ label {
            color: getColor(primary-50);
        }
        ~ label {
            color: getColor(grey-400);
            cursor: pointer;
        }
    }
}
