@use "../partials/functions" as *;
@use "../partials/variables" as *;

.small-card {
    .card-content {
        padding: toRem(24);
    }
    .title {
        margin-bottom: 8px;
    }
    .link {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
    }
}
