.tab-bar-container {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.tab-bar {
    background: $background-tertary;
    padding: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
}
.tab-link {
    display: inline-block;

    flex-grow: 1;
}
