.tab-item {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .indicator {
        width: 100%;
        height: 2px;
        background: transparent;
        margin-bottom: 14px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
.active .tab-item {
    .indicator {
        background: $primary-blue-500;
    }
    svg {
        fill: $primary-blue-500;
    }
}
