.title-bar {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 0;
    .icon {
        margin-right: 8px;
        display: none;
    }
    &.has-icon {
        color: $text-tertary;
        .icon {
            display: block;
        }
        svg {
            fill: $text-tertary;
        }
        h3 {
            font-size: 16px;
        }
    }
}
