.total-card {
    width: 100%;
    text-align: center;
    padding: 24px;
    background: $primary-blue-700;
    border-radius: 8px;
    margin-bottom: 16px;
    h2 {
        color: $text-primary;
    }
}
