.transaction-card {
    display: flex;
    align-items: center;
    padding: 16px;
    background: $background-secondary;
    border-radius: 8px;
    .icon-wrapper {
        padding: 8px;
        border-radius: 8px;
        margin-right: 16px;
        background: $background-tertary;
        svg {
            fill: $text-secondary;
        }
    }
    .amount {
        margin-left: auto;
        font-size: 20px;
        &.error {
            color: $state-danger;
        }
        &.success {
            color: $state-success;
        }
    }
    .details {
        .time {
            font-size: 14px;
            line-height: 16px;
            color: $text-tertary;
            margin-top: 4px;
        }
    }
}
