@use "../../partials/functions" as *;

.title-loader {
    width: 240px;
    height: toRem(16);
    border-radius: toRem(8);
    margin-bottom: toRem(24);
    background: getColor(grey-800);
    animation: shimmer 01s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite alternate;
}

@keyframes shimmer {
    100% {
        opacity: 0.2;
    }
}
