.transactions-loader {
    margin-top: 56px;
    position: relative;
    .title {
        position: absolute;
        overflow: hidden;
        width: 140px;
        height: 12px;
        left: 0;
        top: -32px;
        border-radius: 8px;
        background: rgba($background-tertary, 0.4);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 8px;
            transform: translateX(-100%);
            background-image: linear-gradient(
                to right,
                rgba($background-secondary, 0.05) 0%,
                rgba($background-primary, 0.5) 20%,
                rgba($background-secondary, 0) 40%,
                rgba($background-secondary, 0) 100%
            );
            animation: shimmer 3s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
        }
    }

    .transaction {
        position: relative;
        width: 100%;
        height: 80px;
        margin-bottom: 8px;

        .icon {
            position: absolute;
            left: 16px;
            top: 16px;
            height: 48px;
            width: 48px;
            overflow: hidden;

            border-radius: 8px;
            background: $background-secondary;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                transform: translateX(-100%);
                background-image: linear-gradient(
                    to right,
                    rgba($background-secondary, 0) 0%,
                    rgba($background-primary, 0.3) 30%,
                    rgba($background-secondary, 0) 60%,
                    rgba($background-secondary, 0) 100%
                );
                animation: shimmer 3s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
            }
        }
        .name {
            position: absolute;
            left: 80px;
            top: 20px;
            height: 14px;
            width: 40%;
            overflow: hidden;

            border-radius: 8px;
            background: $background-secondary;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                transform: translateX(-100%);
                background-image: linear-gradient(
                    to right,
                    rgba($background-secondary, 0) 0%,
                    rgba($background-primary, 0.3) 30%,
                    rgba($background-secondary, 0) 60%,
                    rgba($background-secondary, 0) 100%
                );
                animation: shimmer 3s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
            }
        }
        .time {
            content: "";
            position: absolute;
            left: 80px;
            top: 40px;
            height: 12px;
            width: 20%;
            overflow: hidden;

            border-radius: 8px;
            background: $background-secondary;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                transform: translateX(-100%);
                background-image: linear-gradient(
                    to right,
                    rgba($background-secondary, 0) 0%,
                    rgba($background-primary, 0.3) 30%,
                    rgba($background-secondary, 0) 60%,
                    rgba($background-secondary, 0) 100%
                );
                animation: shimmer 3s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
            }
        }
        .amount {
            position: absolute;
            right: 16px;
            top: 24px;
            height: 24px;
            width: 56px;
            overflow: hidden;

            border-radius: 8px;
            background: $background-secondary;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                transform: translateX(-100%);
                background-image: linear-gradient(
                    to right,
                    rgba($background-secondary, 0) 0%,
                    rgba($background-primary, 0.3) 30%,
                    rgba($background-secondary, 0) 60%,
                    rgba($background-secondary, 0) 100%
                );
                animation: shimmer 3s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
            }
        }
    }
}
