.add-page {
    margin-top: 24px;
    .action-bar {
        display: flex;
        justify-content: flex-end;
    }
    .close-action {
        cursor: pointer;

        background: $background-secondary;
        border-radius: 4px;
        &:hover {
            background: $background-tertary;
            border-radius: 4px;
            svg {
                fill: $text-primary;
            }
        }
    }
    .form-wrapper {
        margin-top: 24px;
    }
    .title {
        margin-bottom: 24px;
    }
    .feedback {
        margin-top: 24px;
        text-align: center;
        color: $text-tertary;
        &.error {
            color: $state-danger;
        }
        &.success {
            color: $state-success;
        }
    }
}
