@use "../partials/functions" as *;

.admin-page {
    .info-container {
        margin-top: 40px;
    }
    .loader {
        margin-top: 40px;
    }
    .links-container {
        margin-top: 120px;
        text-align: center;
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .link-container {
        width: calc(50% - 32px);
        min-width: max-content;
        margin: 16px;
    }

    .quick-link {
        display: block;
        padding: 40px;
        background: getColor(black-20);
        border-radius: 24px;
        width: 100%;
    }
}
@media screen and (max-width: 560px) {
    .admin-page {
        .links {
            margin-top: 24px;
        }
        .link-container {
            width: 100%;
            margin: 8px;
        }
    }
}
