@use "../partials/functions" as *;
.index {
    .header {
        width: 100%;
        max-width: 588px;
    }
    .search-wrapper {
        margin-top: 24px;
    }
    .segmented-control-wrapper {
        margin-top: 80px;
    }
    .category-title {
        color: getColor(grey-500);
        span {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .list-grid {
        margin-top: 24px;
    }
}
