.movies-page {
    .header {
        width: 100%;
        max-width: 588px;
    }
    .search-wrapper {
        margin-top: 24px;
        margin-bottom: 48px;
    }

    .breadcrumb-container {
        margin: 0;
    }
    .list-grid {
        margin-top: 24px;
    }
}
