@use "../partials/functions" as *;
.suggest-page {
    .header {
        width: 100%;
        max-width: 588px;
        h1 {
            margin-bottom: 24px;
        }
    }
    .search-wrapper {
        margin-top: 24px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        .input-group {
            width: 100%;
            margin: 0;
        }
        button {
            margin-left: 8px;
            width: 200px;
        }
    }
    .list-grid {
        margin-top: 24px;
    }
    .button-container {
        margin-top: 40px;
        button {
            margin: auto;
        }
    }
    .no-results-container {
        max-width: 560px;
        margin: 80px auto;
        text-align: center;
        .btn {
            margin: 40px auto;
        }
    }
}
@media screen and (max-width: 560px) {
    .suggest-page {
        .search-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .input-group {
                width: 100%;
                margin: 0;
            }
            button {
                margin-left: 0;
                margin-top: 8px;
                width: 100%;
            }
        }
    }
}
